[Desktop Entry]
Name=MoarPerf
Comment=Front-end for MoarVM's / Rakudo's profilers
Exec=moarperf-appimage-launcher
Icon=moarperf_stolen_icon
Terminal=false
Type=Application
StartupNotify=false
Categories=Development;
